<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265559642199-nvcguccrko3f8at43h1hah6d55ecbilt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265559642199-nvcguccrko3f8at43h1hah6d55ecbilt</string>
	<key>API_KEY</key>
	<string>AIzaSyA1CQap_jxdCpCGYfx6By4PNffhpIxfe2w</string>
	<key>GCM_SENDER_ID</key>
	<string>265559642199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastTendeDoctorApp</string>
	<key>PROJECT_ID</key>
	<string>fast-tende</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-tende.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265559642199:ios:aa11266494678ae1715312</string>
</dict>
</plist>